<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @time_table.name %> timetable out now</p>
    <p> Click the link below to check your schedule <p>
    <p>https://timetablr.netlify.app/view/<%= @time_table.id %><p>
    
  </body>
</html>